*{
    margin: 0px;
    padding: 0px;
}


#titulo{    
    display: flex;
    margin-left: 161px;
    margin-top: 33px;
}
#seguidores {
    display: flex;
    margin-top: 41px;
    margin-left: -331px;
}
#cards{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
#card1{
    background-color: tomato;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 165px;
    margin-top: 43px;
    padding-left: 90px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 20px;
    border-radius: 6px;
}
#card1items{
    display: flex;
}
#1987{
    display: flex;
    margin: 100px;
}

